<!--Página con solo una publicación o homepage-->
<!DOCTYPE html>
<html>


{{ partial "head.html" . }}


<body>
    <section>
        {{- partial "header0.html" . -}}
    </section>

    <div class="body__content">

        <div class="cotenido-principal">

            <ul>

                {{ $url := .Get "url" }}
                {{ range getJSON $url }}
                    {{ $p := . }}

                {{ end }}

            </ul>
            
        </div>
    </div>
</body>


{{ partial "footer.html" . }}


</html>