<head class="site-head">
		
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!--link tambien se usa para llamar contenido por ruta-->
    <!--<link rel="stylesheet" href="{{ .Site.BaseURL }}css/style.css" type="text/css" media="all" />-->
    <!--.Site.BaseURL se usa ara direccionar rutas relacionas ya sea local o desplegado/remoto-->
    <!--Crear una clase del logo-->
    {{ range .Site.Params.custom_css -}}
        <link rel="stylesheet" href="{{ . | absURL }}">
    {{- end }}

        
    <div class="head__content">
    
        <div class="imagen-head2">
            <section>
                <a style="text-decoration:none" href="https://www.ibm.com/co-es">
                    <img src="{{ .Site.BaseURL }}/images/Logo-IBM-blanco.png" alt="Logo" width="80%x">
                </a>
            </section>
        </div>
    
        <div class="titulo-principal">
            <a style="text-decoration:none" href="/">
                <h1>Coolibrí</h1>
            </a>
        </div>

        <div class="imagen-head1">
            <section>
                <a style="text-decoration:none" href="/">
                    <img src="{{ .Site.BaseURL }}/images/coolibri.png" alt="Logo" width="80%x">
                </a>
            </section>
        </div>
    </div>
    
</head>